/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

* {
  color: #3F5D45;
  font-size: 16px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

button {
  padding: 0;
  margin: 0;
}

img {
  width: 100%;
  vertical-align: middle;
}

a {
  text-decoration: none;
}

.container {
  width: 940px;
  margin: 0 auto;
}

.container.mini-size {
  width: 780px;
}

/* header section */
.header-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 30px 0;
}

.header-content .logo {
  display: block;
  width: 220px;
}

.header-content .main-nav {
  margin-left: auto;
}

.header-content .main-nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header-content .main-nav li a {
  display: block;
  padding: 12px 30px;
}

.header-content .cart {
  width: 24px;
  margin-left: 20px;
}

/* banner section */
.banner-section {
  margin-bottom: 60px;
}

.banner-section .banner-title {
  display: none;
}

/* product section */
.product-section {
  margin-bottom: 60px;
}

.product-content .product-content-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 30px;
}

/* side-menu */
.side-menu {
  width: 300px;
  margin-right: 20px;
}

.side-menu h2 {
  font-size: 24px;
  font-weight: 600;
  line-height: 33px;
  color: #EAF0ED;
  background-color: #3F5D45;
  padding: 16px;
  text-align: center;
}

.side-menu .side-menu-item a {
  display: block;
  font-size: 24px;
  font-weight: 600;
  line-height: 33px;
  padding: 16px;
  text-align: center;
  color: #3F5D45;
  background-color: #fff;
  border: 1px solid #EAF0ED;
  border-top: none;
}

.side-menu .side-menu-item.active a,
.side-menu .side-menu-item.active a span {
  background-color: #EAF0ED;
  color: #3F5D45;
  border: none;
}

/* product-list */
.product-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 620px;
}

.product-list .list-item:nth-of-type(odd) {
  margin-right: 20px;
}

.product-list .list-item {
  width: 300px;
  margin-bottom: 20px;
}

.product-list .list-item:last-child,
.product-list .list-item:nth-last-child(2) {
  margin-bottom: 0;
}

.product-list .img-area {
  position: relative;
}

.product-list .img-area .img-text {
  position: absolute;
  display: block;
  top: 0;
  left: 22px;
  font-size: 16px;
  line-height: 20px;
  font-weight: 600;
  letter-spacing: 6px;
  color: #EAF0ED;
  padding: 16px 10px 10px;
  -webkit-writing-mode: vertical-lr;
      -ms-writing-mode: tb-lr;
          writing-mode: vertical-lr;
  background-color: #3F5D45;
}

.product-list .img-area .favorite-icon {
  position: absolute;
  top: 19px;
  right: 22px;
  width: 22px;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.product-list .img-area .favorite-icon img {
  width: 100%;
}

.product-list .item-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.product-list .item-text .product-name,
.product-list .item-text .product-price {
  padding: 14px 25px;
  border-right: 1px solid #EAF0ED;
  font-size: 20px;
  line-height: 28px;
  font-weight: 300;
  color: #3F5D45;
  text-align: center;
}

.product-list .item-text .product-name {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  border-left: 1px solid #EAF0ED;
}

.product-list .item-text .product-price {
  font-weight: 600;
}

.product-list .btn.add-to-cart {
  width: 100%;
  padding: 16px;
  font-size: 24px;
  line-height: 33px;
  font-weight: 600;
  letter-spacing: 0;
  border: none;
  color: #3F5D45;
  background-color: #EAF0ED;
  cursor: pointer;
}

/* pagination section */
.pagination-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.pagination-list .page-item {
  width: 60px;
  height: 60px;
  border: 1px solid #EAF0ED;
  background-color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.pagination-list .page-item .page-link {
  margin: auto;
  font-size: 20px;
  font-weight: 300;
}

.pagination-list .page-item .page-link div {
  width: 24px;
}

.pagination-list .page-item.active {
  border: none;
  background-color: #3F5D45;
}

.pagination-list .page-item.active .page-link {
  color: #EAF0ED;
}

/* bottom-cta section */
.bottom-cta-section {
  background-color: #3F5D45;
}

.bottom-cta-content {
  padding: 30px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.bottom-cta-content .small-logo {
  width: 40px;
  margin-right: 20px;
}

.bottom-cta-content h2 {
  color: #EAF0ED;
  font-size: 24px;
  line-height: 29px;
  font-weight: 300;
  margin-right: auto;
}

.bottom-cta-content .input-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.bottom-cta-content .input-group .input-group-prepend {
  padding-left: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #EAF0ED;
}

.bottom-cta-content .input-group .input-group-prepend div {
  width: 24px;
}

.bottom-cta-content .input-group #input-email {
  background-color: #EAF0ED;
  width: 272px;
  padding: 16px 8px;
  border: none;
}

.bottom-cta-content .input-group #input-email:focus {
  outline: none;
}

.bottom-cta-content .input-group .btn-submit {
  background-color: #FFE180;
  border: none;
  width: 64px;
  height: 56px;
  cursor: pointer;
}

.bottom-cta-content .input-group .btn-submit .icon-submit {
  margin: 0 auto;
  width: 24px;
}

.footer-section {
  background-color: #EAF0ED;
}

.footer-section .footer-content {
  padding: 30px 0;
}

.footer-section .footer-content .footer-logo {
  width: 172px;
  margin-bottom: 116px;
}

.footer-section .footer-content address {
  font-size: 16px;
  line-height: 24px;
  font-weight: normal;
  margin-bottom: 30px;
}

.footer-section .footer-content .copyright-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: end;
}

.footer-section .footer-content .copyright-wrap .social-link-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-right: auto;
}

.footer-section .footer-content .copyright-wrap .social-link-item:first-of-type {
  margin-right: 8px;
}

.footer-section .footer-content .copyright-wrap .social-link-icon {
  width: 32px;
}
/*# sourceMappingURL=all.css.map */