:root {
  --color-primary:#3F5D45;
  --color-secondary:#EAF0ED;
}
* {
  /* outline: 1px solid green; */
  color:var(--color-primary);
  font-size: 16px;
}
img {
  width: 100%;
  vertical-align: middle;
}
a {
  text-decoration: none;
}

.container {
  width: 960px;
  margin: 0 auto;
}
/* header section */
.header-content {
  display: flex;
  align-items: center;
  padding: 30px 0;
}
.header-content .logo {
  width: 220px;
}
.header-content .main-nav {
  margin-left: auto;
}
.header-content .main-nav ul {
  display: flex;
}
.header-content .main-nav li a {
  display: block;
  padding: 12px 30px;
}
.header-content .cart {
  width: 24px;
  margin-left: 20px;
}

/* banner section */
.banner-section {
  margin-bottom: 60px;
}
.banner-content .banner-title {
  display: none;
}

/* list section */
/* side-menu section */
.list-content {
  width: 300px;
}
.list-content h2,
.sidemenu-item a {
  font-size: 24px;
  font-weight: 600;
  line-height: 40px;
  color: var(--color-secondary);
  background-color: var(--color-primary);
  padding: 16px;
  text-align: center;
}
.sidemenu-item a {
  display: block;
  color: var(--color-primary);
  background-color: white;
  border: 1px solid var(--color-secondary);
}
.sidemenu-item.active a {
  background-color: var(--color-secondary);
  border: none;
}