
.container {
  width: 960px;
  margin: 0 auto;
}
/* header section */
.header-content {
  display: flex;
  align-items: center;
  padding: 30px 0;
  .logo {
    width: 220px;
  }
  .main-nav {
    margin-left: auto;
    ul {
      display: flex;
    }
    li a {
      display: block;
      padding: 12px 30px;
    }
  }
  .cart {
    width: 24px;
    margin-left: 20px;
  }
}

/* banner section */
.banner-section {
  margin-bottom: 60px;
  .banner-title {
    display: none;
  }
}

/* product section */
.product-content {
  display: flex;
}
/* side-menu */
.side-menu {
  width: 300px;
  margin-right: 20px;
  h2 {
    font-size: 24px;
    font-weight: 600;
    line-height: 33px;
    color: $color-secondary;
    background-color: $color-primary;
    padding: 16px;
    text-align: center;
  }
  .side-menu-item {
    a {
      display: block;
      font-size: 24px;
      font-weight: 600;
      line-height: 33px;
      padding: 16px;
      text-align: center;
      color: $color-primary;
      background-color: #fff;
      border: 1px solid $color-secondary;
      border-top: none;
    }
    &.active a,
    &.active a span {
      background-color: $color-secondary;
      color: $color-primary;
      border: none;
    }
  }
}

/* product section */
/* product-list */
.product-list {
  display: flex;
  flex-wrap: wrap;
  width: 620px;
  .list-item:nth-of-type(odd) {
    margin-right: 20px;
  }
  .list-item {
    width: 300px;
    margin-top: 20px;
  }
  .img-area {
    position: relative;
    h3 {
      position: absolute;
      display: block;
      top: 0;
      left: 22px;
      font-size: 16px;
      line-height: 20px;
      font-weight: 600;
      letter-spacing: 6px;
      color: $color-secondary;
      padding: 16px 10px 10px;
      writing-mode: vertical-lr;
      background-color: $color-primary
    }
    .favorite-icon {
      position: absolute;
      top: 19px;
      right: 22px;
      width: 22px;
      background-color: transparent;
      border: none;
      cursor: pointer;
      img {
        width: 100%;
      }
    }
  }
  .item-text {
    display: flex;
    .product-name {
      flex: 1;
      border-left: 1px solid $color-secondary;
    }
    p {
      padding: 14px 25px;
      border-right: 1px solid $color-secondary;
      font-size: 20px;
      line-height: 28px;
      font-weight: 300;
      color: $color-primary;
      text-align: center;
    }
    .product-price {
      font-weight: 600;
    }
  }
  .btn {
    &.add-to-cart{
      width: 100%;
      padding: 16px;
      font-size: 24px;
      line-height: 33px;
      font-weight: 600;
      letter-spacing: 0;
      border: none;
      color: $color-primary;
      background-color: $color-secondary;
      cursor: pointer;
    }
  }

}